body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.home-header, .about-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.home-banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.home-heading {
    font-size: 50px;
    font-weight: bolder;
}

.home-subheading {
    font-size: 30px;
    font-weight: bold;
}

.about-banner {
    display: flex;
}

.home-image {
    height:auto;
    width: 400px;
    border-radius: 20px;
}

.about-image {
    height: 300px;
    width: auto;
    border-radius: 20px;
}

.blog {
   display: flex;
   flex-direction: column;
   margin-top: 100px;
   margin-bottom: 100px;
   padding: 20px 100px;
}

.blog-post-title {
    font-size: 25px;
}

.blog-post-date {
    font-style: italic;
}

.blog-post-body {
    padding-top: 25px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 100px;
}
